{% extends "layout.html" %}
{% block body %}

        <script type="text/javascript">
            window.onload = function() {
                
                var prev = document.getElementById("preview");

                prev.addEventListener("load", function () {
                    console.log("reload complete");
                    prev.classList.remove("loading");
                }, false);

                prev.addEventListener("click", function () {
                    console.log("reload");

                    if (!prev.classList.contains("loading")) {
                        prev.classList.add("loading");
                        prev.src = "{{ url_for('video_feed', crop='True') }}" + "#" + new Date().getTime();
                    }
                }, false);
            }
        </script>

    <div id="focus-container">
        <img id="preview" class="focus-image" src="{{ url_for('video_feed', crop='True') }}">
        <div class="lds-dual-ring"></div>
    </div>

    <span>Click image to reload (takes a few seconds)</span>

{% endblock %}