<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='simple-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <title>CompressorCamera</title>

  </head>
  <body>

    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><a href="{{ url_for('overview') }}">CompressorCamera</a></div>
        <div class="list-group list-group-flush">
          <a href="{{ url_for('focus') }}"    class="list-group-item list-group-item-action bg-light">Focus</a>
          <a href="{{ url_for('preview') }}"  class="list-group-item list-group-item-action bg-light">Preview</a>
          <a href="{{ url_for('settings') }}" class="list-group-item list-group-item-action bg-light">Settings</a>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <div id="page-content-wrapper">

        <div class="container-fluid">
          {% block body %}{% endblock %}
        </div>
      </div>

    </div>
  </body>
</html>