{% extends "layout.html" %}
{% block body %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>

    {% for key in data.keys() %}
    <tr>
      <th scope="row">{{ key }}</th>
      <td>{{ data[key] }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>

<!-- <a href="{{ url_for('command', cmd='resizefs') }}" class="btn btn-secondary btn-lg" role="button">Resize Filesystem</a> -->
<a href="{{ url_for('command', cmd='reboot') }}" class="btn btn-secondary btn-lg" role="button">Reboot</a>

{% endblock %}