.page {
    padding: 10px;
    padding-top: 3px;
}

.page-title {
    color: #999;
}

h3 {
    margin-top: 4px;
}

h3 a {
    color: #333;
}

.loading {
    filter: gray;                   /* IE6-9 */
    -webkit-filter: grayscale(1);   /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);           /* Microsoft Edge and Firefox 35+ */

    opacity: 0.5;
}

#focus-container {
    position: relative;
    width: 1280px;
    height: 720px;
    background-color: #222222;

    cursor: pointer;
}

.focus-image {
    position: absolute;

    z-index: 2;
}

.lds-dual-ring {
    /* display: inline-block; */
    width: 80px;
    height: 80px;

    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}